.App {
  text-align: center;
}

.display-1 {
    color: #343a40!important;
}

.myContainer {
    text-align: center;
}

.form-control {
    background-color: #212529!important;
}

.myMap {
    display: flex;
    justify-content: center;
}